<div class='container'>
    <div class='left-col text-center'>
        <%= image_tag("volume.png") %>
        <br/>
        <h5>Volunteerism starts with 
            <span id='you'><strong>You</strong></span> & 
            <span id='me'><strong>Me</strong></span>.
        </h5>
    </div>

    <div class='right-col'>
        <a href='/organisers/sign_in' class='organiser-btn'>Organiser</a>
        <br/>
        <a href='/volunteers/sign_in' class='volunteer-btn'>Volunteer</a>
    </div>
</div>

<%= stylesheet_link_tag "home" %>
