body{
    background: linear-gradient(to right, #F9D758 50%, white 50%);
}

.container{
    display: flex;
    justify-content: space-around;
}

.left-col{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 200px;
}

img{
    margin-top: 100px;
    width: 500px;
}

#me {
    color: salmon;
}

.right-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 80px;
}

.volunteer {
    color: salmon;
    border: 5px solid salmon;
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 20px;
}

input[type=email], input[type=password] {
    background-color: whitesmoke;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%
}

input[type=submit] {
    background-color: salmon;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%
}

.account {
    display: flex;
    flex-direction: column;
}

.sign-up {
    display: flex;
    flex-direction: row;
    margin-bottom: -20px;
}